---
layout: archive
author_profile: false
---

<h1>Berliner Merkblätter</h1>
Merkblätter für Infektionskrankheiten als Ergänzung zu den <a href="https://www.infektionsschutz.de/erregersteckbriefe/">Erregersteckbriefen</a>. Erstellt für den öffentlichen Gesundheitsdienst nach bestem Wissen.<br><br>
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
